{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block style %}
<style>
    @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

#title {
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  font-weight: bold;
  opacity: 0;
  animation: openTitle 1s forwards;
  white-space: nowrap;
  overflow: hidden;
}

#title::after {
  content: '';
  display: inline-block;
  vertical-align: bottom;
  width: 0;
  height: 1.1em;
  border-right: .15em solid orange; /* Typewriter cursor effect */
  animation: blinkCursor 0.7s infinite;
}

@keyframes openTitle {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes blinkCursor {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

</style>
{% endblock %}
{% block content%}
    



    <div>

        <center>
        <h1 id="title"  style="margin-bottom: -50px; position: relative; justify-content: center; z-index: 1; font-family: 'Montserrat', sans-serif;font-size: 48px; font-weight: bold;   animation: openTitle 1s forwards;
        white-space: nowrap;
        overflow: hidden;">It's Quiz Time!!</h1>
        <img class="home-bg" style="height: 90vh; position: relative; z-index: -1;" src="../static/images/5210980.jpg" alt="">
        </center>   
        </div>
        </a>
    </div>
   
{% endblock %}

{% block script %}
<script>
window.addEventListener('DOMContentLoaded', function() {
  var title = document.getElementById('title');
  var text = title.innerText;
  title.innerText = '';
  title.classList.add('animated');
  var i = 0;

  function typeWriter() {
    if (i < text.length) {
      if (text[i] === ' ') {
        title.innerHTML += '&nbsp;'; // Add non-breaking space for spaces
      } else {
        title.innerText += text.charAt(i);
      }
      i++;
      setTimeout(typeWriter, 50); // Faster typewriter speed
    }
  }

  typeWriter();

  // Remove the 'animated' class after the animation completes
  title.addEventListener('animationend', function() {
    title.classList.remove('animated');
  });
});

</script>
  
{% endblock %}

